
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.button-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */

.text-light-gray{
    color: #727272;
}
/* header styles */


/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-links a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.nav-item{
   list-style: none;
   margin-right: 30px;
}
/* banner-related-style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}
/* team and feature related styles */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;

}
.feature-title{
    font-size: 2.8rem;
    font-weight:700 ;
}
#quick-list{
    font-weight: 550;
}
#features-color{
    color: #FF900E;
}
.feature-description{

    margin-bottom: 32px;
     color: #727272;
}
/* Fact-Card */
.fact-description{
    max-width: 540px;
}
.fact-card{
    border: 1px solid #FF900E;
     width: 240px;
    height: 240px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 15px; */
  
   
}
.some-fact-title{
    color: #131313;
    font-weight: 700;
    font-size: 1.75rem;
}
/* Sponsor Related */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-company{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 155px;
}
.sponsor-company img{
    filter: grayscale(100%);
}

/* responsive media query */
@media screen and (max-width: 576px){
    .navbar, .nav-links, .teams{
        flex-direction: column;
        gap: 10px;
    }
    .team-img-container, .fact-container, .sponsor-company{
        grid-template-columns: repeat(1,1fr);
    }
    .fact-container{
        margin-top: 50px;
        gap: 24px;
        justify-items: center;
    }
    .our-features{
    margin-left: 20px;
    }
    .sponsor-company
    {
        justify-items:center;
        gap: 50px;
    }

}
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .sponsor-company{
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;
        justify-items: center;
    }
}